{% extends 'base.html' %}

{% block content %}
<section class="home-slider owl-carousel">
	{% load static %}
	<!-- {% static 'clinic/images/bg_1.jpg' as bg_image %} -->
	<!-- <div class="slider-item bread-item" style="background-image: url('{{ bg_image }}');" data-stellar-background-ratio="0.5"> -->
	<!-- Slide 1 -->
	<div class="slider-item bread-item" style="background-image: url('{% static 'clinicapp/images/about1.jpg' %}');" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container" data-scrollax-parent="true">
			<div class="row slider-text align-items-end">
				<div class="col-md-7 col-sm-12 ftco-animate mb-5">
					<!-- <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}">
						<span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span>About</span>
					</p> -->
					<h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">About Us</h1>
				</div>
			</div>
		</div>
	</div>

	<!-- Slide 2 -->
	<div class="slider-item bread-item" style="background-image: url('{% static 'clinicapp/images/about2.jpg' %}');" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container" data-scrollax-parent="true">
			<div class="row slider-text align-items-end">
				<div class="col-md-7 col-sm-12 ftco-animate mb-5">
					<!-- <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}">
						<span class="mr-2"><a href="{% url 'home' %}">Home</a></span> <span>About</span>
					</p> -->
					<h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Our Mission</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row d-md-flex">
			{% load static %}
			{% static 'clinic/images/about.jpg' as about_image %}
			<div class="col-md-6 ftco-animate img about-image order-md-last"
				style="background-image: url('{% static 'clinicapp/images/about3.jpg' %}');"></div>
			<div class="col-md-6 ftco-animate pr-md-5 order-md-first">
				<div class="row">
					<div class="col-md-12 nav-link-wrap mb-5">
						<div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist"
							aria-orientation="vertical">
							<a class="nav-link active" id="v-pills-whatwedo-tab" data-toggle="pill"
								href="#v-pills-whatwedo" role="tab" aria-controls="v-pills-whatwedo"
								aria-selected="true">What we do</a>

							<a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-mission"
								role="tab" aria-controls="v-pills-mission" aria-selected="false">Our mission</a>

							<a class="nav-link" id="v-pills-goal-tab" data-toggle="pill" href="#v-pills-goal" role="tab"
								aria-controls="v-pills-goal" aria-selected="false">Our Vision</a>
						</div>
					</div>
					<div class="col-md-12 d-flex align-items-center">

						<div class="tab-content ftco-animate" id="v-pills-tabContent">

							<div class="tab-pane fade show active" id="v-pills-whatwedo" role="tabpanel"
								aria-labelledby="v-pills-whatwedo-tab">
								<div>
									<h2 class="mb-4">We Offer High Quality Services</h2>
									<p>At Koru Mission Hospital, we are committed to providing exceptional medical care with compassion and expertise. Our team of highly skilled doctors, nurses, and healthcare professionals work tirelessly to ensure your well-being.</p>
								</div>
							</div>

							<div class="tab-pane fade" id="v-pills-mission" role="tabpanel"
								aria-labelledby="v-pills-mission-tab">
								<div>
									<h2 class="mb-4">To Promote Wellbeing for All Patients</h2>
									<p>To provide healthcare services in a fiscally responsible manner that contribute to the physical,
									psychological, social and spiritual wellbeing of the patients and community we serve </p>
								</div>
							</div>

							<div class="tab-pane fade" id="v-pills-goal" role="tabpanel"
								aria-labelledby="v-pills-goal-tab">
								<div>
									<h2 class="mb-4">A leader in provision of healthcare.</h2>
									<p>Commitment to courtesy and Excellence in service delivery.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

    <section class="ftco-section-2">
    	<div class="container-wrap">
      	<div class="row d-flex no-gutters">
      		<div class="col-md-6 img" style="background-image: url('{% static 'clinicapp/images/about5.jpg' %}');">
      		</div>
      		<div class="col-md-6 d-flex">
      			<div class="about-wrap">
					<div class="heading-section heading-section-white mb-5 ftco-animate">
						<h2 class="mb-2">Our Core Values</h2>
					  </div>
      				<div class="list-services d-flex ftco-animate">
      					<div class="icon d-flex justify-content-center align-items-center">
      						<span class="icon-check2"></span>
      					</div>
      					<div class="text">
	      					<h3>Intergrity</h3>
	      					<p>We uphold the highest ethical standards, ensuring honesty, transparency, and professionalism in all our services.</p>
      					</div>
      				</div>
      				<div class="list-services d-flex ftco-animate">
      					<div class="icon d-flex justify-content-center align-items-center">
      						<span class="icon-check2"></span>
      					</div>
      					<div class="text">
	      					<h3>Trust</h3>
	      					<p>We build strong relationships with our patients and community through reliability, confidentiality, and compassionate care.</p>
      					</div>
      				</div>
      				<div class="list-services d-flex ftco-animate">
      					<div class="icon d-flex justify-content-center align-items-center">
      						<span class="icon-check2"></span>
      					</div>
      					<div class="text">
	      					<h3>Accountability</h3>
	      					<p>We take full responsibility for our actions, delivering quality healthcare with dedication and continuous improvement.</p>
      					</div>
      				</div>
					  <div class="list-services d-flex ftco-animate">
						<div class="icon d-flex justify-content-center align-items-center">
							<span class="icon-check2"></span>
						</div>
						<div class="text">
							<h3>Passion</h3>
							<p> We are committed to serving with compassion, enthusiasm, and a deep dedication to improving lives.</p>
						</div>
					</div>
      			</div>
      		</div>
      	</div>
      </div>
    </section>

<section class="ftco-section testimony-section bg-light">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<h2 class="mb-2">Testimony</h2>
				<span class="subheading">Our Happy Customer Says</span>
			</div>
		</div>
		<div class="row justify-content-center ftco-animate">
			<div class="col-md-8">
				<div class="carousel-testimony owl-carousel ftco-owl">
					{% for testimonial in testimonials %}
					<div class="item">
						<div class="testimony-wrap p-4 pb-5">
							<div class="user-img mb-5" style="background-image: url({{ testimonial.image.url }});">
								<span class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
							</div>
							<div class="text text-center">
								<p class="mb-5">{{ testimonial.content }}</p>
								<p class="name">{{ testimonial.name }}</p>
								<span class="position">{{ testimonial.position }}</span>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- TO BE DONE -->
<section class="ftco-section ftco-counter img" id="section-counter" data-stellar-background-ratio="0.5" style="background-image: url({% static 'clinicapp/images/testing.jpg' %});">
	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-md-3 aside-stretch py-5">
				<div class=" heading-section heading-section-white ftco-animate pr-md-4">
					<h2 class="mb-3">Achievements</h2>
					<p>We take pride in serving our community with
						compassion, expertise, and a commitment to excellence, ensuring quality medical services for all
						who rely on us.</p>
				</div>
			</div>
			<div class="col-md-9 py-5 pl-md-5">
				<div class="row">
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="text">
								<strong class="number" data-number="52">0</strong>
								<span>Years of Operation</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="text">
								<strong class="number" data-number="35">0</strong>
								<span>Total Staff</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="text">
								<strong class="number" data-number="15560">0</strong>
								<span>Catchment population</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="text">
								<strong class="number" data-number="100">0</strong>
								<span>Bed Capacity</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}