{% extends 'base.html' %}

{% block content %}
{% load static %}
<section class="home-slider owl-carousel">
	<div class="slider-item bread-item" style="background-image: url('{% static 'clinicapp/images/d7.jpg' %}');"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container" data-scrollax-parent="true">
			<div class="row slider-text align-items-end">
				<div class="col-md-7 col-sm-12 ftco-animate mb-5">
					<p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span
							class="mr-2"><a href="{% url 'home' %}">Home</a></span>
						<span< /p>
							<h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">Our Services</h1>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-5">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<h2 class="mb-2">Our Services Keeps you Smilling</h2>
				<p>We offer a wide range of healthcare services, including consultations, medical and surgical care,
					critical care, maternity and child health services, laboratory investigations, HIV and TB treatment,
					ultrasound imaging, specialized outpatient clinics, and emergency ambulance support. Our dedicated
					team ensures quality care for patients of all ages.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<img src="{% static 'clinicapp/images/consultation.png' %}" alt="consultation">
					<div class="media-body p-2 mt-3">
						<h3 class="heading">Consultation</h3>
						<p>Provides expert medical advice, diagnosis, and treatment planning for patients.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<img src="{% static 'clinicapp/images/medical.png' %}" alt="medical">
					<div class="media-body p-2 mt-3">
						<h3 class="heading">Medical Services</h3>
						<p>Offers comprehensive care for various medical conditions and chronic illnesses.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<img src="{% static 'clinicapp/images/surgical.png' %}" alt="surgical">
					<div class="media-body p-2 mt-3">
						<h3 class="heading">Surgical Services</h3>
						<p>Performs minor and major surgical procedures for various health needs.p>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<img src="{% static 'clinicapp/images/critical.png' %}" alt="critical care">
					<div class="media-body p-2 mt-3">
						<h3 class="heading">Critical Care Services</h3>
						<p>Delivers intensive monitoring and treatment for critically ill patients.p>
					</div>
				</div>
			</div>

			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<img src="{% static 'clinicapp/images/labaratory.png' %}" alt="lab">
					<div class="media-body p-2 mt-3">
						<h3 class="heading">Labaratory Investigations</h3>
						<p>Conducts diagnostic tests to aid in disease detection and treatment.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<img src="{% static 'clinicapp/images/maternityicon.png' %}" alt="mat">
					<div class="media-body p-2 mt-3">
						<h3 class="heading">Maternity Services</h3>
						<p>Provides prenatal, delivery, and postnatal care for expectant mothers.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<img src="{% static 'clinicapp/images/mch.png' %}" alt="mch">
					<div class="media-body p-2 mt-3">
						<h3 class="heading">Maternal and Child Health Services</h3>
						<p>Focuses on the well-being of mothers and children, including immunizations and checkups.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<img src="{% static 'clinicapp/images/hts.png' %}" alt="hts">
					<div class="media-body p-2 mt-3">
						<h3 class="heading">HIV and TB Services</h3>
						<p>Specializes in screening, treatment, and management of HIV/AIDS and tuberculosis.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<img src="{% static 'clinicapp/images/ambulance.png' %}" alt="ambulance">
					<div class="media-body p-2 mt-3">
						<h3 class="heading">Ambulance Services</h3>
						<p>Offers emergency medical transport for urgent patient care.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<img src="{% static 'clinicapp/images/ultrasound.png' %}" alt="ultrasound">
					<div class="media-body p-2 mt-3">
						<h3 class="heading">Ultrasound</h3>
						<p>Uses imaging technology to diagnose and monitor various medical conditions.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<img src="{% static 'clinicapp/images/clinics.png' %}" alt="clinic">
					<div class="media-body p-2 mt-3">
						<h3 class="heading">Special clinics (MOPC, GOPC, SOPC)</h3>
						<p>Provides specialized outpatient care for chronic and specific health conditions.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<img src="{% static 'clinicapp/images/newborn.png' %}" alt="newborn">
					<div class="media-body p-2 mt-3">
						<h3 class="heading">New Born unit</h3>
						<p>Offers specialized care for premature and at-risk newborns.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-5">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<h2 class="mb-2">Our Departments</h2>
				<p>Our hospital is organized into specialized departments, each dedicated to providing expert care.
					From emergency and critical care to maternity, pediatrics, surgery, and diagnostic services, our
					departments work together to ensure comprehensive and compassionate healthcare for all patients.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">

					<div class="media-body p-2 mt-3">
						<h3 class="heading">Nursing Department</h3>

					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">

					<div class="media-body p-2 mt-3">
						<h3 class="heading">Laboratory Department</h3>

					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">

					<div class="media-body p-2 mt-3">
						<h3 class="heading">Accounts and Billing Department</h3>

					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">

					<div class="media-body p-2 mt-3">
						<h3 class="heading">Housekeeping Department</h3>

					</div>
				</div>
			</div>

			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">

					<div class="media-body p-2 mt-3">
						<h3 class="heading">Maintenance and Logistics Department</h3>

					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">

					<div class="media-body p-2 mt-3">
						<h3 class="heading">Human Recourse</h3>

					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">

					<div class="media-body p-2 mt-3">
						<h3 class="heading">ICT and Health Records Department</h3>

					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">

					<div class="media-body p-2 mt-3">
						<h3 class="heading">Pharmacy Department</h3>

					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">

					<div class="media-body p-2 mt-3">
						<h3 class="heading">Laboratory Department</h3>

					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">

					<div class="media-body p-2 mt-3">
						<h3 class="heading">Administration Department</h3>

					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">

					<div class="media-body p-2 mt-3">
						<h3 class="heading">Inpatient Department</h3>

					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">

					<div class="media-body p-2 mt-3">
						<h3 class="heading">Outpatient Department</h3>

					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">

					<div class="media-body p-2 mt-3">
						<h3 class="heading">MCH Department</h3>

					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">

					<div class="media-body p-2 mt-3">
						<h3 class="heading">Community</h3>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter"
	 data-stellar-background-ratio="0.5">
	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-md-3 aside-stretch py-5">
				<div class=" heading-section heading-section-white ftco-animate pr-md-4">
					<h2 class="mb-3">Achievements</h2>
				</div>
			</div>
			<div class="col-md-9 py-5 pl-md-5">
				<div class="row">
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="text">
								<strong class="number" data-number="52">0</strong>
								<span>Years of Operation</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="text">
								<strong class="number" data-number="35">0</strong>
								<span>Total Staff</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="text">
								<strong class="number" data-number="15560">0</strong>
								<span>Catchment population</span>
							</div>
						</div>
					</div>
					<div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
						<div class="block-18">
							<div class="text">
								<strong class="number" data-number="100">0</strong>
								<span>Bed Capacity</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-5">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<h2 class="mb-3">Insuarances Accepted</h2>
				<p>We partner with a variety of insurance providers to ensure accessible healthcare for our patients.
					Our hospital accepts coverage from major insurers, allowing you to receive quality medical care with
					ease.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 ftco-animate">
				<div class="pricing-entry pb-5 text-center">
					<img src="{% static 'clinicapp/images/shaimg.png' %}" class="img-fluid" alt="SHA">
					<!-- <div>
						<h3 class="mb-4">SHA</h3>
						<p><span class="per">Social Health Authority</span></p>
					</div> -->
				</div>
			</div>
			<div class="col-md-3 ftco-animate">
				<div class="pricing-entry pb-5 text-center">
					<img src="{% static 'clinicapp/images/minet.png' %}" class="img-fluid" alt="MINET/AON">
					<!-- <div>
						<h3 class="mb-4">MAKL</h3>
						<p><span class="per">Aon Minet For employees under TSC</span></p>
					</div> -->
				</div>
			</div>
			<div class="col-md-3 ftco-animate">
				<div class="pricing-entry active pb-5 text-center">
					<img src="{% static 'clinicapp/images/madison.png' %}" class="img-fluid" alt="Madison">
					<!-- <div>
						<h3 class="mb-4">Madison</h3>
						<p><span class="per">Insuarance</span></p>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}